@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');

:root {
    --navbar-height: 60px;
    --primary-background: #222222;
    --secondary-background: #111111;
    --primary-foreground: #eeeeee;
    --secondary-foreground: #cccccc;
    --green-accent: rgba(76,175,80,0.9);
    --green-accent-secondary: rgba(76,175,80,0.8);
}

.app {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

.navbar {
    height: var(--navbar-height);
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-background);
    color: var(--primary-foreground);
    padding: 0 20px 0 20px;
}

.map-container {
    position: fixed;
    top: var(--navbar-height);
    right: 0;
    bottom: 0;
    left: 0;
}

.white-button {
    cursor: pointer;
    color: var(--secondary-foreground);
}

.white-button:hover {
    color: var(--primary-foreground);
}

.sideMenu {
    position: fixed;
    color: var(--primary-foreground);
    background-color: var(--secondary-background);
    top: var(--navbar-height);
    right: 0;
    bottom: 0;
    width: 500px;
    z-index: 10;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.new-device > input {
    background-color: var(--primary-background);
    padding: 10px;
    outline: none;
    border: none;
    width: 200px;
    font-size: 16px;
    caret-color: var(--secondary-foreground);
    color: var(--primary-foreground);
}

.button {
    margin: 0 5px 0 5px;
    padding: 10px;
    width: 60px;
    background-color: var(--green-accent);
    text-align: center;
    cursor: pointer;
}

.button:hover {
    background-color: var(--green-accent-secondary);
}

@media (max-width: 991.98px) {

    .sideMenu {
        width: unset;
        left: 0;
    }

}