@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');

:root {
    --navbar-height: 62px;
    --primary-background: #222222;
    --primary-foreground: #eeeeee
}

.app {
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    height: var(--navbar-height);
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-background);
    color: var(--primary-foreground);
    padding: 0 20px 0 20px;
}

.map-container {
    height: calc(100vh - var(--navbar-height));
}