@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');

:root {
    --navbar-height: 60px;
    --primary-background: #222222;
    --secondary-background: #111111;
    --primary-foreground: #eeeeee;
    --secondary-foreground: #cccccc;
    --tertiary-foreground: rgba(255,255,255, 0.5);
    --green-accent: rgba(76,175,80,0.9);
    --green-accent-secondary: rgba(76,175,80,0.8);
}

.app {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

.navbar {
    height: var(--navbar-height);
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-background);
    color: var(--primary-foreground);
    padding: 0 20px 0 20px;
}

.map-container {
    position: fixed;
    top: var(--navbar-height);
    right: 0;
    bottom: 0;
    left: 0;
}

.white-button {
    cursor: pointer;
    color: var(--secondary-foreground);
    user-select: none;
}

.white-button:hover {
    color: var(--primary-foreground);
}

.sideMenu {
    position: fixed;
    color: var(--primary-foreground);
    background-color: var(--secondary-background);
    top: var(--navbar-height);
    right: 0;
    bottom: 0;
    width: 500px;
    z-index: 10;
    padding: 20px;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-column > * {
    margin: 5px 0 5px 0;
}

.flex-row > * {
    margin: 0 5px 0 5px;
}


.new-device > input {
    background-color: var(--primary-background);
    padding: 10px;
    outline: none;
    border: none;
    width: 200px;
    font-size: 16px;
    caret-color: var(--secondary-foreground);
    color: var(--primary-foreground);
}

.button {
    margin: 0 5px 0 5px;
    padding: 10px;
    width: 60px;
    background-color: var(--green-accent);
    text-align: center;
    cursor: pointer;
}

.button:hover {
    background-color: var(--green-accent-secondary);
}

.horizontal-divider {
    width: 80%;
    border-bottom: 1px solid var(--tertiary-foreground);
}

.devices > * {
    margin: 5px 0 5px 0;
}

.id-box {
    background-color: var(--primary-background);
    padding: 5px 10px 5px 10px;
    color: var(--tertiary-foreground);
    word-break: break-all;
    width: 350px;
    text-align: center;
}

.id-box.small-text {
    font-size: 0.5rem;
    padding: 10px 8px 10px 8px;
}

.no-break {
    word-break: keep-all;
    white-space: nowrap;
}

.text-center {
    text-align: center;
}

@media (max-width: 991.98px) {

    .sideMenu {
        width: unset;
        left: 0;
    }

}